/* Include Foundation */

@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

body {
    @include grid-row();
    background-color: floralwhite;
    color: black;
}

/* Page header */
h1 {
    text-align: center;
    font-size: 3em;
    border: 2px dotted black;
}

/* Nav bar with links to different displays */
nav {
    @include grid-column(5);
    @include grid-row();
    background-color: floralwhite;

    h2 {
        @include grid-column(6);
    }

    a {
        color: indianred;
        text-decoration: none;
    }

    a:hover {
        background-color: indianred;
        color: floralwhite;
    }
}


/* Views */
div {
    @include grid-column(12);
    background-color: white;
    height: 400px;
    border: 1px solid black;
    overflow-y: scroll;
}

#show-food {
    // display: none;
}

#show-food ul {
    text-align: center;
    list-style-type: none;
    margin-top: 50px;
    color: indianred;
    padding: 0px;

    li {
        border-bottom: 1px dotted black;
    }

    .descrip {
        font-size: .7em;
    }
}

.hidden {
     display: none;
}

/* Add food item */
#submit {
    background-color: dodgerblue;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: .8em;
}

input {
    border-radius: 5px;
    background-color: lightgray;
    margin-top: 30px;
    margin-left: 500px;
    text-align: center;
}